[submodule "fluitec.appfx.options"]
	path = fluitec.appfx.options
	url = ../../fluitec/fluitec.appfx.options.git
[submodule "fluitec.appfx.data"]
	path = fluitec.appfx.data
	url = ../../fluitec/fluitec.appfx.data.git
[submodule "fluitec.appfx.console"]
	path = fluitec.appfx.console
	url = https://gitlab.fluitech.org/fluitec/fluitec.appfx.console.git
