@using Microsoft.Extensions.Localization
@using FluiTec.AppFx.Localization.Extensions
@model TestModel
@{
    ViewData["Title"] = "Home Page";
}
@inject IStringLocalizer<TestModel> Localizer

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<label asp-for="Name"></label><input asp-for="Name" />
<label asp-for="Test"></label><input asp-for="Test" />
<h1>@Localizer.Localize(model => model.Name)</h1>
<table>
@foreach (var entry in Localizer.GetAllStrings())
{
    <tr>
        <td>@entry.Name</td>
        <td>@entry.Value</td>
    </tr>
}
</table>